.App {
  font-family: sans-serif;
  text-align: center;
}

.inner {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  height: 5rem;
  
}

.wrapper {
 position: absolute;  
  display: flex;
}

.swipe-section {
  display: flex ;
  animation: swipe 600000ms linear infinite backwards ;
  gap: 4px ;
}

.swipe-section:hover {
  animation-play-state: paused; /* Pauses animation on hover */
  cursor: pointer; /* Optional: shows it's interactive */
}


@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
